* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
}

#header {
  height: 46.5px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  /* bởi vì cái này có position là fixed: nó sẽ trôi nổi lên hoặc chìm xuống so vs mặt phẳng
  cho nên các phần khác(vd-slider) có thể đè lên nó(nếu nó chìm) cho nên z-index:1 thì cái này sẽ chồng lên slider có positon nhưng 
  ko có z-index -mặc định là 0  */
}
#nav,
#sub_nav {
  list-style-type: none;
}
/* #header > ul {
  display: inline-block;
} */
.clear {
  clear: both;
}
#nav > li > a {
  text-transform: uppercase;
}
#nav > li {
  display: inline-block;
  position: relative;
}
#header .search_header {
  color: white;
  font-weight: bolder;
  font-size: smaller;
  padding: 10px 24px;
}
#header .search_header:hover {
  background-color: #f44336;
  cursor: pointer;
}
#nav > li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 14.05px 24px;
  font-family: Arial, Helvetica, sans-serif;
}
#sub_nav > li > a:hover,
#nav li:hover > a {
  color: black;
  background-color: #ccc;
  /* Taị sao phải hover ở li mà ko p a?
  Đó là bởi vì li là inline-block và nó sẽ bao các thẻ li của ul con thành 1 khối
  cho nên khi chuột di vào More, thì nếu di chuột xuống ở phía các ô khác thì More nó 
  vẫn giữ đc màu khi di chuột
  - Còn nếu ko có sub-na như các ô home,band thì hover ở thẻ nào cũng đc , đều như nhau  */
}

#nav #sub_nav {
  position: absolute;
  /* Khi #sub_nav có absolute thì all các thẻ con của nó có thuộc tính này, tức là nó sẽ nhảy ra
  khỏi dòng chảy html thông thường và đi tìm thẻ cha nào có position và đứng trong đó, hoặc đứng sau
  tất cả các thẻ con của thẻ cha, cho nên  merchandise,extra, media sẽ theo thứ tự nhảy về thẻ li cha _More có đặc tính là position
  _ Lưu ý là nó vẫn có hoặc bị áp đặt bởi các đặc tính của thẻ cha nếu có chứ ko mất đi  */
  background-color: #fff;
  display: none;
}

#sub_nav > li > a {
  color: #000 !important;
  /* display: block; */
  width: 100%;
  padding: 8px 16px;
  /* thẻ li là block là để cho nó có thể chiếm chiều rôngj và bằng của thẻ cha ul ( mà ul trong
  th này là inline-block có chiều rộng bằng Merchandlise) nên khi các thẻ li (extras, media) là block thì nó có thể có chiều rộng bằng cr của ul= cr của merchanlise
  , tuy nhiên thẻ a cũng phải là block để chiếm cr của thẻ cha nó li vừa chiếm từ ul( ul chiếm từ mercha do inlineblock, cái này rộng nhất )  */
}
#sub_nav li {
  display: block;
  min-width: 160px;
}
#nav > li:hover > #sub_nav {
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.nav_arrow_down {
  font-size: 14px;
}
#slider {
  position: relative;
  /* Đưa ảnh vào đúng tỉ lệ - đẹp  bằng background image */
  margin-top: 46.5px;
  /*  phai margin top = chieu cao header vi header co position:fixed nen nó trôi lên và bị chiếm không gian
  nên muốn phần slider tính từ header trở đi thì margin top bằng chiều cao header */
  padding-top: 50%;
  /* Tại sao lại là padding-top:50%? Là bởi vì ảnh đc đưa vào có tỉ lệ là 2:1, cr=2cd, mà có nguyên tắc là nếu 
  đưa ảnh vào thì đưa theo đúng tỉ lệ của ảnh để ảnh k biến dạng. Và khi padding top 50% thì chiều cao của class slider sẽ là b
  bằng 50% chiều ngang của  thẻ cha( trong th này chiều rộng thẻ cha của slider là thẻ html )chính nó . CHo nên luôn đảm bảo là cr =2cd*/
  background: url("/f8_band/assets/img/chicago.jpg") left top/ cover no-repeat;
  /* Khi sử dụng background image thì mặc định nó đổ từ padding, nên mặc dù khối slider chỉ có padding thì nó đổ mỗi padding luôn
  cho nên đảm bảo ảnh đưa vào luôn đúng tỉ lệ theo ảnh gốc nhờ padding 50% kết hợp vs background-image
  còn tại sao dùng cover mà k dùng contain. Đó là bởi vì cover nó lấy chiều nào dài hơn và sẽ chiếm hết chiều đó, và chiều còn lại nó cũng sẽ chiếm hết( chiều này 
  có thể bị cắt- tuy nhiên vì mk làm đungs tỉ lệ cho class slider nên ảnh sẽ lôi ra và đúng tỉ lệ nên ko bị cắt đi phần nào )  */
  /* left-top: position( cáci này tùy - nhưng phải có trong background image) */
  /* Tuy nhiên phải lưu ý là nếu sau đó tiếp tục thêm thẻ gì vào slider thì đó là phần content của slider, khi đó kích thước của slider lại tăng thêm-bị thay đổi=>tỉ lệ
  ảnh lại khác đi . Cho nên nếu muốn để nó chỉ là padding riêng thôi thì chỉ để riêng cho nó một class hình ảnh riêng và không thêm content hay các thẻ khác là con là thẻ 
  chứa hình ảnh nữa. nếu thêm thì đó phải có position:absolute và class cha(chứa hình ảnh) phải có position:relative
  thì khi đó cái thẻ con nó nổi lên trên cha và ko chiếm diện tích )  */
}
#slider .text_content {
  color: white;

  position: absolute;
  bottom: 47px;
  /* left: 50%;
  transform: translateX(-50%);  */
  text-align: center;
  width: 100%;
}
#slider .text_heading {
  margin-bottom: 14.4px;
  font-weight: lighter;
  font-size: 24px;
}
#slider .text_description {
  font-weight: bolder;
  font-size: 15px;
}
#container {
}
.content_section {
  width: 800px;
  padding: 64px 16px;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}
.content_section .content-heading {
  margin: 10px 0;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: center;
}
.content_section .sub-content {
  font-size: 15px;
  opacity: 0.6;
  font-style: italic;
  text-align: center;
  margin-top: 15px;
}
.content_section .about_decription {
  margin: 15px 0;
  font-size: 15px;
  line-height: 1.4;
  text-align: justify;
}
.member_band {
  padding: 32px 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.member {
  display: inline-block;
}
.member_band .name {
  margin: 15px 0;
  font-size: 15px;
}
.member_band img {
  height: 144px;
  width: 144px;
  margin-bottom: 16px;
  border-radius: 4px;
}
/* Tour */
#tour {
  /* display: inline-block; */
  width: 100%;
  background-color: #000;
  color: #fff;
}

.quantity {
  width: 24px;
  height: 24px;
  font-size: 15px;
  padding: 0 8px;
  line-height: 24px;
  float: right;
  margin-top: -3px;

  border-radius: 50%;
  background-color: #000;
  display: block;
}
#tour .book_tickets {
  margin-top: 30px;
  background-color: #fff;
}
#tour li {
  padding: 8px 16px;
  list-style-type: none;
  background-color: #fff;
  color: #757575;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  display: block;
}
#tour li .sold_out {
  padding: 0 8px;
  margin: 16px;
  color: #fff;
  background-color: #f44336;
}

.places_buy_ticket {
  margin: 32px -8px 48px -8px;
}
.place {
  float: left;
  width: 33.3333%;
  padding: 0 8px;
  background-color: white;
  background-clip: content-box;
  color: #000;
  text-decoration: none;
}

.place_img {
  width: 100%;
}
.place_img:hover {
  opacity: 0.6;
}
.place_content {
  padding: 0 16px;
  background-color: white;
  font-size: 15px;
}

.place_name {
  font-size: 15px;
  margin-top: 15px;
}

.place_date {
  margin-top: 15px;
}
.place_des {
  margin-top: 15px;
  line-height: 1.4;
  color: #757575;
}

.place_buy {
}

.place_buy {
  display: inline-block;
  margin: 15px 0;
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}
.place_buy:hover {
  cursor: pointer;
  color: #000 !important;
  background-color: #ccc !important;
}

.place_date {
  opacity: 0.6;
}
#tour .content_section {
}
#footer {
}
/* ----------------------------MODAL----------------------------- */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  dislay: none;
}
.modal-container {
  width: 900px;
  max-width: calc(100%-32px);
  background-color: #fff;
  position: relative;
  font-size: 15px;
}

.modal-heading {
  padding: 42px 16px;
  font-size: 30px;
  color: #fff;
  background-color: #009688;
  text-align: center;
  letter-spacing: 4px;
}
.modal-close {
  padding: 8px 16px;
  color: #fff;
  font-weight: bolder;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.model-close:hover {
  background-color: #ccc;
}
.ti-close {
  width: 14px;
  height: 36px;
}
.modal-body {
  padding: 0 16px;
}
.modal-body p,
input {
  margin-top: 15px;
}
.ti-shopping-cart,
.ti-user {
  margin-right: 3px;
}
.modal-body input {
  width: 100%;
  padding: 8px;
  opacity: 0.4;
}
.modal-body button {
  width: 100%;
  text-align: center;
  padding: 16px;
  margin: 16px 0;
  background-color: #009688;
  font-weight: bolder;
  color: #fff;
  border: #009688;
}
.modal-body button:hover {
  opacity: 0.9;
}
.modal-body .ti-check {
  font-weight: bold;
}
.model-footer {
  margin-right: 8px;
  float: right;

  margin: 15px 16px 31px 0;
}
.model-footer a {
  color: #2196f3;
}
